@import "tailwindcss";
:root {
  font-family: Mona;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f7f7f7;
}

.landing{
  background-color: red;
}

/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
} */


@font-face {
  font-family: Mona;
  src: url('./assets/MonaSans-Regular.ttf');
  /* font-weight: 800; */
}
